bin/Debug/net8.0/appsettings.Development.json
bin/Debug/net8.0/appsettings.json
bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net8.0/Microsoft.OpenApi.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net8.0/works
bin/Debug/net8.0/works.deps.json
bin/Debug/net8.0/works.dll
bin/Debug/net8.0/works.pdb
bin/Debug/net8.0/works.runtimeconfig.json
Controllers/HelloWorld.cs
obj/project.assets.json
obj/project.nuget.cache
obj/works.csproj.nuget.dgspec.json
obj/works.csproj.nuget.g.props
obj/works.csproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/works.AssemblyInfo.cs
obj/Debug/net8.0/works.AssemblyInfoInputs.cache
obj/Debug/net8.0/works.assets.cache
obj/Debug/net8.0/works.csproj.AssemblyReference.cache
obj/Debug/net8.0/works.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/works.csproj.FileListAbsolute.txt
obj/Debug/net8.0/works.csproj.Up2Date
obj/Debug/net8.0/works.dll
obj/Debug/net8.0/works.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/works.genruntimeconfig.cache
obj/Debug/net8.0/works.GlobalUsings.g.cs
obj/Debug/net8.0/works.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net8.0/works.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net8.0/works.pdb
obj/Debug/net8.0/ref/works.dll
obj/Debug/net8.0/refint/works.dll
obj/Debug/net8.0/staticwebassets/msbuild.build.works.props
obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.works.props
obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.works.props
bin/Debug/net8.0/Swashbuckle.AspNetCore.Annotations.dll
bin/Debug/net8.0/works.staticwebassets.runtime.json
obj/Debug/net8.0/staticwebassets.development.json
obj/Debug/net8.0/staticwebassets.pack.json
obj/Debug/net8.0/works.sourcelink.json
obj/Debug/net8.0/staticwebassets/msbuild.works.Microsoft.AspNetCore.StaticWebAssets.props
.DS_Store
